<tr>
    <td>{{ alias }}</td>
    <td class="edgar-ezuicron-edit" data-type="expression" data-alias="{{ alias }}" id="edgar-ezuicron-td-expression-{{ alias }}">
        <span class="edgar-ezuicron-value" data-type="expression" data-alias="{{ alias }}" id="edgar-ezuicron-value-expression-{{ alias }}">
            {{ cron.expression }}
        </span>
    </td>
    <td class="edgar-ezuicron-edit" data-type="arguments" data-alias="{{ alias }}" id="edgar-ezuicron-td-arguments-{{ alias }}">
        <span class="edgar-ezuicron-value" data-type="arguments" data-alias="{{ alias }}" id="edgar-ezuicron-value-arguments-{{ alias }}">
            {{ cron.arguments }}
        </span>
    </td>
    <td class="edgar-ezuicron-edit" data-type="priority" data-alias="{{ alias }}" id="edgar-ezuicron-td-priority-{{ alias }}">
        <span class="edgar-ezuicron-value" data-type="priority" data-alias="{{ alias }}" id="edgar-ezuicron-value-priority-{{ alias }}">
            {{ cron.priority }}
        </span>
    </td>
    <td class="edgar-ezuicron-edit-boolean" data-type="enabled" data-alias="{{ alias }}">
        <input id="edgar-ezuicron-enabled-{{ alias }}" type="checkbox" disabled="" {% if cron.enabled %}checked=""{% endif %} title="{% if cron.enabled %}Enabled{% else %}Disabled{% endif %}">
    </td>
    <td class="text-right">
        <a title="{{ 'cron.update'|trans|desc('Edit') }}"
           href="{{ path('edgar.ezuicron.update', {'alias': alias}) }}"
           class="btn btn-icon mx-3">
            <svg class="ez-icon ez-icon-edit">
                <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#edit"></use>
            </svg>
        </a>
    </td>
</tr>
